.Listing {
    width: 100%;
    margin: 0 auto 2rem;
}

.Photo {
    width: inherit;
    height: 269px;
    object-fit: cover;
    border-radius: 24px;
    margin-bottom: .75rem;
}

.Title {
    color: var(--text-color-dark);
    font-size: 0.875rem;
}

.SuperHost,
.Rating {
    color: var(--text-color-med);
}

.SuperHost {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.625rem;
    padding: .4rem .5rem;
    border: var(--text-color-med) 1px solid;
    border-radius: .75rem;
    margin-right: 0.75rem;
}

.SuperHostHidden {
    display: none;
}

.Type,
.Rating,
.Beds {
    font-size: 0.75rem;
}

.Type,
.Beds {
    color: var(--text-color-light);
}

.Type {
    margin-right: .25rem;
}

.ListingInfo {
    display: flex;
    flex-direction: column;
}

.ListingDetails {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.75rem;
    justify-content: space-between;
}

.DetailsRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Rating {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.RatingIcon {
    margin-right: .25rem;
    color: var(--primary-color);
}

/* @media (min-width: 700px) {
    .Listing {
        width: 100%;
    }
} */