.Container {
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding: 0 1rem;
    /* border: 1px solid red; */
}

@media (min-width: 700px) {
    .Container {
        padding: 0;
        width: 80vw;
        max-width: 1287px;
    }
}