@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --text-color-dark: #333333;
  --text-color-med: #4F4F4F;
  --text-color-light: #828282;
  --text-color-disabled: #BDBDBD;

  --primary-color: #EB5757;
  --primary-color-tint: #EB5757, 90%;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
